 body {
  min-width: 100%;
}
h5 {
  margin: 0% 6%;
}

.layout {
  margin: 4%;
  height: 100px;
  width: 100%;
    background-color: #b7afddec;
    margin-right: -50%;
}
.row img {
  height: 100%;
  width: 100%;
  margin: 0% -2%;
}
.col-4 img {
  margin-left: 0%;
  height: 18%;
  width: 50px;
}
.col-4 h4 {
  color: #0d0d51;
}
.col-4 h3 {
  color: #0d0d51;
  margin-left: -5%;
}
.agency {
  height: 300px;
  width: 100%;
  margin-bottom:-50%;
}
p {
  color: #0d0d51;
  margin-right: 20%;
}
span {
  margin-left: 8%;
  color: #0d0d51;
}
.tolu {
  color: red;
  text-align: center;
}
.right {
  color: #0d0d51;
  text-align: right;
  margin-right: 15%;
}
.temi {
  text-align: left;
  margin-left: 5%;
}
.temi span {
  cursor: pointer;
}
.temi span:hover{
    color: rgba(245, 47, 47, 0.823);
}
.col-6 h4 {
  padding-left: 29%;
  color: #0d0d51;
}
textarea{
  background-color: #cac8dbec;
  border-style: none;
}
.container {
  padding-top: 13%;
}
.col-6 h1 {
  color: #0d0d51;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.margin{
  margin-left: 29%;
}
.head {
  background-color: white;
  color: red;
}
.col-6 h2{
  color: #0d0d51;
}
.border {
  border-radius: 0.6cm;
  margin-left: -2%;
  background-color: red;
  color: white;
  padding: 2% 3%;
}
.bordr {
  border-radius: 0.6cm;
  margin-left: -2%;
  background-color: red;
  color: white;
  padding: 3% 3%;
  
}
.bord {
  border-radius: 0.6cm;
  background-color: red;
  color: white;
  padding: 1% 5%;
  margin: 30%;
}
small {
  color: red;
  font-family: "Bold", sans-serif;
}
.normal {
  color: gray;
}
.card-block h6 {
  color: #0d0d51;
}
.shift {
  color: red;
  padding-left: 80%;
}
.card {
  padding: 8%;
}
.space span{
  margin-left: 2%;
}
.three span{
  margin-left: 8%;
}

.size{
  margin-top: 5%;
  color: #464444;
}

/*Responsive styles*/

@media screen and (max-width: 1200px){

.agency{
  font-size:0.8cm;
  height: 75%;
  margin-bottom: -15%;
}
.size{
  margin-top: 5%;
  font-size: 1.4em;
}
.get{
  font-size: 0.9em;
  margin-top: -3%;
}
.col-4 h3{
  font-size: 0.65cm;
  margin-left: -20%;
  margin-right: -60%;
  margin-top: 37%;
}
.col-4 img{
  height: 14%;
  width: 11%;
  margin-top:20% ;
}
.col-4 h4{
  font-size:0.4cm;
  margin-top:-5%;
}
.col-4 p{
  font-size: 0.65em;
  margin-top: -7%;
  margin-right: 30%;
}
.bordr{
  font-size: 0.9em;
  margin-left: -17%;
}
.col-6 img{
  height: 200px;
  width: 70%;
}
.col-6 small{
  font-size: 0.65em;
}
.col-6 h2{
  font-size: 1em;
  margin-top:0em;
}
.col-6 p{
  font-size: 0.7em;
  margin-top: 0em;
}
.col-6 h4{
  font-size: 0.55cm;
  margin-left: -6%;
}
.layout{
  height: 60px;
  width: 100%;
  margin-left: -7%;
}
.tolu{
    font-size: 0.75em;
}
.blog{
  font-size: 0.5em;
  margin-left: 0;
}
.news{
  font-size: 0.7cm;
  margin-left: -30%;
}
.card{
  margin-left: 6%;
  margin-right: 1%;
}
.container-{
  margin-right: 0%;
}
.normal{
  font-size: 0.5em;
}
.col-4 h6{
  font-size: 0.9em;
  margin-top: 4%;
  margin-bottom: -4%;
}
.red{
  font-size: 0.55em;
  margin-top: 2%;
}
}


/* @media screen and (max-width: 815px){
  .temi{
    font-size: 0.2cm;
  }

.agency{
  font-size: 0.6cm;
  height: 60%;
  margin-bottom: 0%;
}
.size{
  margin-top:-20%;
  font-size: 0.7em;
}
.get{
  font-size: 0.8em;
  margin-top: -10%;
}
.col-4 h3{
  font-size: 0.55cm;
  margin-left: -20%;
  margin-right: -70%;
  margin-top: 45%;
}
 .col-4 img{
  height: 14%;
  width: 20%;
  margin-top:20% ;
}
.col-4 h4{
  font-size:0.4cm;
  margin-top:-6%;
}
.col-4 p{
  font-size: 0.5em;
  margin-top: -12%;
  margin-right: 15%;
}
.bordr{
  font-size: 0.8em;
  margin-left: -17%;
}
.col-6 img{
  height: 130px;
  width: 150%;
}
.col-6 h2{
  font-size: 0.65em;
  margin-top: -1.9em;
}
.col-6 p{
  font-size: 0.4em;
  margin-top: -2.4em;
}
.col-6 h4{
  font-size: 0.4cm;
  margin-left: -6%;
}
.layout{
  height: 50px;
  width: 110%;
  margin-left: -8%;
}
.tolu{
    font-size: 0.75em;
}
.blog{
  font-size: 0.8em;
}
.news{
  font-size: 0.6cm;
}
.card{
  margin-left: -5%;
  margin-right: 3%;
}
.container-{
  margin-right: 0%;
}
.normal{
  font-size: 0.5em;
}
.col-4 h6{
  font-size: 0.7em;
  margin-top: 5%;
  margin-bottom: -5%;
}
.red{
  font-size: 0.27em;
}
}


@media screen and (max-width: 600px){
  .temi{
    font-size: 0.2cm;
  }

  .agency{
    margin-bottom: -22%;
  }
  .size{
    font-size: 0.6em;
    margin-top: 0%;
    margin-right: -15%;
  }
  .get{
    font-size: 0.7em;
    margin-top: -7%;
  }
  .col-4 h3{
    font-size: 0.5cm;
    margin-left: -20%;
    margin-right: -70%;
    margin-top: 50%;
  }
  .col-4 img{
    height: 12%;
    width: 15%;
    margin-top:20% ;
  }
  .col-4 h4{
    font-size:0.3cm;
    margin-top:-8%;
  }
  .col-4 p{
    font-size: 0.6em;
    margin-top: -10%;
    margin-right: 5%;
  }
  .bordr{
    font-size: 0.7em;
    margin-left: -17%;
  }
  .col-6 img{
    height: 160px;
    width: 110%;
  }
  .col-6 small{
    font-size: 0.4em;
  }
  .col-6 h2{
    font-size: 0.9em;
    margin-top:-10%;
  }
  .col-6 p{
    font-size: 0.6em;
    margin-top:-8%;
  }
  .col-6 h4{
    font-size: 0.45cm;
    margin-left: -8%;
  }
  .layout{
    height: 60px;
    width: 112%;
    margin-left: -10%;
  }
  .tolu{
      font-size: 0.7em;
  }
  .blog{
    font-size: 0.5em;
    margin-left: 0%;
  }
  .news{
    font-size: 0.4cm;
    margin-left: 0%
  }
  .card{
    margin-left: 0%;
    margin-right: -13%;
  }
  .container-{
    margin-right: 0%;
  }
  .normal{
    font-size: 0.35em;
  }
  .col-4 h6{
    font-size: 0.6em;
    margin-top: 5%;
    margin-bottom: -6%;
  }
  .red{
    font-size: 0.35em;
    margin-left: -1%;
}

@media screen and (max-width: 550px){
  .temi{
  font-size: 0.13cm;
  }
  .agency{
    font-size: 0.4cm;
    height: 70%;
    margin-bottom: -28%;
  }
  .size{
    font-size: 0.7em;
    margin-top: 0%;
  }  
  .get{
    font-size: 0.6em;
    margin-top: -11%;
  }
  .col-4 h3{
    font-size: 0.35cm;
    margin-left: -20%;
    margin-right: -70%;
    margin-top: 60%;
  }
  .col-4 img{
    height: 11%;
    width: 15%;
    margin-top:20% ;
  }
  .col-4 h4{
    font-size:0.3cm;
    margin-top:-12%;
  }
  .col-4 p{
    font-size: 0.5em;
    margin-top: -18%;
    margin-right: -5%;
  }
  .bordr{
    font-size: 0.6em;
    margin-left: -17%;
  }
  .col-6 img{
    height: 100%;
    width: 100%;
  }
  .col-6 h2{
    font-size: 0.7em;
    margin-top: -10%;
  }
  .col-6 p{
    font-size: 0.4em;
    margin-top: -10%;
  }
  .col-6 h4{
    font-size: 0.35cm;
    margin-left: -8%;
  }
  .layout{
    height: 60px;
    width: 120%;
    margin-left: -10%;
  }
  .tolu{
      font-size: 0.65em;
  }
  .blog{
    font-size: 0.55em;
  }
  .news{
    font-size: 0.45cm;
  }
  .card{
    margin-left: -35%;
    margin-right: 20%;
  }
  .container-{
    margin-right: -11%;
  }
  .normal{
    font-size: 0.3em;
  }
  .col-4 h6{
    font-size: 0.45em;
    margin-top: 5%;
    margin-bottom: -8%;
  }
  .red{
    font-size: 0.3em;
    margin-left: -1%;
  }  
}
@media screen and (max-width: 370px){
  .temi{
    font-size: 0.1cm;
    
  }
  .temi img{
    width: 6%;
  }
  .agency{
    font-size: 0.25cm;
    height:65%;
    margin-bottom: -43%;
  }
  .size{
    font-size: 0.4em;
    margin-right: -25%;
  }
  .get{
    font-size: 0.4em;
    margin-top: -15%;
  }
  .col-4 h3{
  font-size: 0.26cm;
  margin-left: -20%;
  margin-right: -70%;
  margin-top: 100%;
  }
  .col-4 img{
  height: 7%;
  width: 12%;
  margin-top:33% ;
  }
  .col-4 h4{
  font-size:0.22cm;
  margin-top:-22%;
  }
  .col-4 p{
  font-size: 0.3em;
  margin-top: -30%;
  margin-right: -10%;
  }
  .bordr{
  font-size: 0.5em;
  margin-left: -17%;
  }
  .col-6 img{
  height: 125px;
  width: 140px;
  }
  .col-6 small{
  font-size: 0.25em;
  }
  .col-6 h2{
  font-size: 0.65em;
  margin-top: -1.9em;
  }
  .col-6 p{
  font-size: 0.4em;
  margin-top: -2.8em;
  }
  .col-6 h4{
  font-size: 0.3cm;
  margin-left: -13%;
  }
  .layout{
  height: 50px;
  width: 140%;
  margin-left: -20%;
  }
  .tolu{
    font-size: 0.5em;
  }
  .blog{
  font-size: 0.5em;
  }
  .news{
  font-size: 0.4cm;
  }
  .card{
  margin-left: -50%;
  margin-right: 10%;
  }
  .container-{
  margin-right: -12%;
  }
  .normal{
  font-size: 0.27em;
  }
  .col-4 h6{
  font-size: 0.45em;
  margin-top: 5%;
  margin-bottom: -10%;
  }
  .red{
  font-size: 0.27em;
  margin-left: -2%;
  }
} */
